<div class="header">
  <img class="logo" src="assets/svg/logo.svg" />
  <div class="app-name">Dashboard Kit</div>
</div>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <a class="nav-item" routerLinkActive="selected" routerLink="/overview">
    <icon-overview class="nav-icon"></icon-overview>
    <p class="nav-text">Overview</p>
  </a>

  <a class="nav-item" routerLinkActive="selected" routerLink="/tickets">
    <icon-tickets class="nav-icon"></icon-tickets>
    <p class="nav-text">Tickets</p>
  </a>
  <a class="nav-item">
    <img class="nav-icon" src="assets/svg/ideas.svg" />
    <p class="nav-text">Ideas</p>
  </a>
  <a class="nav-item">
    <img class="nav-icon" src="assets/svg/contacts.svg" />
    <p class="nav-text">Contacts</p>
  </a>
  <a class="nav-item">
    <img class="nav-icon" src="assets/svg/agents.svg" />
    <p class="nav-text">Agents</p>
  </a>
  <a class="nav-item">
    <img class="nav-icon" src="assets/svg/articles.svg" />
    <p class="nav-text">Articles</p>
  </a>
  <hr class="divider" />
  <a class="nav-item">
    <img class="nav-icon" src="assets/svg/settings.svg" />
    <p class="nav-text">Settings</p>
  </a>
  <a class="nav-item">
    <img class="nav-icon" src="assets/svg/subscription.svg" />
    <p class="nav-text">Subscription</p>
  </a>
</nav>
