.logo {
  height: 32px;
  width: 32px;
  border-radius: 0px;
  margin: 0 0.5rem 0 0.5rem;
}
.header {
  margin: 24px;
  display: flex;
  align-items: center;
}

.app-name {
  font-size: 1.1875rem;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #a4a6b3;
  opacity: 70%;
}

.nav-item {
  height: 56px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  color: #a4a6b3;
}

.selected {
  color: #dde2ff;
  border-width: 3px;
  border-color: #dde2ff;
  border-left-style: solid;
}

.selected > .nav-icon {
  opacity: 1;
}
.nav-icon {
  height: 1rem;
  width: 1rem;
  margin: 0 0.5rem 0 0.5rem;
  opacity: 0.4;
}
.nav-text {
  margin: 0 1.5rem 0 1rem;
  font-size: 1rem;
  line-height: 20px;
}

.divider {
  border: 1px solid #dfe0eb;
  opacity: 6%;
}
