<div class="card">
  <app-card-header
    [title]="title"
    [subtitle]="subtitle"
    [cta]="cta"
  ></app-card-header>
  <div class="create-task">
    <input
      [(ngModel)]="name"
      class="no-outline"
      type="text"
      placeholder="Create new task"
    />
    <icon-add
      style="cursor: pointer"
      (click)="createTask()"
      [iconHeight]="'1rem'"
      [iconWidth]="'1rem'"
    ></icon-add>
  </div>
  <div>
    <div class="task-item" *ngFor="let item of data">
      <span class="left">
        <input
          type="checkbox"
          (click)="changeSelected(item.id)"
          [checked]="item.selected"
        />
        <div class="task-name">{{ item.name }}</div>
      </span>

      <div [ngClass]="[checkCategory(item.category), 'category']">
        {{ item.category }}
      </div>
    </div>
  </div>
</div>
