.content {
  /* bg */
  position: absolute;
  left: 255px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  /* grayscale / bg */
  background: #f7f8fc;
}

.navbar {
  /* sidebar / desktop */
  position: absolute;
  width: 255px;
  height: 100%;
  left: 0px;
  top: 0px;
  /* sidebar / bg */
  background: #363740;
}
