/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  color: #252733;
  height: 100%;
  box-sizing: border-box;
}

* {
  font-family: Mulish, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
@font-face {
  font-family: Mullish;
  src: url("assets/Mulish/static/Mulish-Regular.ttf") format("truetypefont");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Mullish;
  src: url("assets/Mulish/static/Mulish-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Mullish;
  src: url("assets/Mulish/static/Mulish-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}
